@import url('../../../../static/css/themes.css');
@import url('../../../../static/css/text.css');


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.top_panel_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background: var(--block-color);
    margin: 0;
    padding: 0;
    position: sticky;
    z-index: 10;
}

.site_name {
    margin: auto 0;
    width: 200px;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: auto 0;
    width: 200px;
    justify-content: center;
}

.main_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1000px;
}

.side_panel {
    display: flex;
    flex-direction: column;
    /*gap: 20px;*/
    width: 200px;
    height: 100%;
    background: var(--block-color);
    z-index: 9;
    position: sticky;
}

.left_panel {
    margin-right: auto;
}

.right_panel {
    margin-left: auto;
}

.right_panel_content {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    /*justify-content: center;*/
    /*text-align: start;*/
    width: 100%;
}

.right_panel_content a {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}