@import url('../../../../static/css/themes.css');
@import url('../../../../static/css/text.css');


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background: var(--background-color);
}

.top_panel_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background: var(--block-color);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

.site_name {
    margin: auto 0;
    width: 200px;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
}

.add_block {
    margin: auto;
}

.add_block a {
    display: flex;
    flex-direction: row;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: auto 0;
    width: 200px;
    justify-content: center;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius);
}

.profile h1 {
    line-height: 1.2 !important;
}

.main_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1000px;
    margin-top: 70px
}

.side_panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    height: fit-content;
    background: var(--block-color);
    z-index: 9;
    position: fixed;
    top: 70px;
    border-radius: var(--border-radius);
    /*right: 0;*/
}

.left_panel {
    left: 20px;
}

.right_panel {
    /*margin-left: auto;*/
    padding: 10px 0;
    right: 20px;
}

.right_panel_content {
    display: flex;
    gap: 10px;
    /*justify-content: center;*/
    /*text-align: start;*/
    width: 100%;
}

.right_panel_content a {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.content-area {
    display: flex;
    /*flex: 1;*/
    height: 100%;
    width: 65%;
    margin: 0 auto;
    justify-content: center;
}

.buffer {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 10px;
    background: var(--background-color);
}