body {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --top-panel-color: #D9D9D9;
    --block-color: #D6D0C2;
    --tag_background: #8A9A5B;
    /*--tag-text: #F6F2EC;*/
    --tag-text: #97C2EC;
    --hover-color: #585858;
    --hover-text-color: #FFFFFF;
    --element-color: #BFBFBF;
    --icon-color: invert(0%) sepia(96%) saturate(15%) hue-rotate(246deg) brightness(105%) contrast(105%);
    --icon-hover-color: invert(100%) sepia(2%) saturate(9%) hue-rotate(16deg) brightness(103%) contrast(100%);
    --tran-back: background 0.5s ease;
    --tran-icon: filter 0.5s ease;
    --tran-font: color 0.5s ease;
    --border-radius: 5px;
}